div {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    border-radius: 20px;
    background-color: #6e926e;
}
body {
    background-color: #36553f;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    color: rgb(225, 225, 225);
}
img {
    width: auto;
    height: 250px;
    margin: 20px;

}
button {
    margin: 0;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #519e5f;
    color: rgb(225, 225, 225) ;
}
button:hover {
    background-color: #36673f;
}
#buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 1250px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: center;
    background-color: #91b191ab;

}
#imgContainer {
    margin-top: 100px;
    width: 1750px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin: auto;
    margin-top: 70px;
    background-color: #6e926e;

}
#szamlalok {
    font-size: 1em;
    color: white;
    display: flex;
    flex-direction: row;
}
#szamlalok p {
    margin: 0 15px;
}
#